# Python
__pycache__/
*.py[cod]
*.so
*.env
.venv/
.env
.venv/
venv/
pip-wheel-metadata/
*.log

# Jupyter / experiments
*.ipynb_checkpoints
runs/
outputs/
weights/
checkpoints/

# PyTorch / models
*.pth
*.pt
*.onnx
*.engine

# FastAPI / build
dist/
build/
*.egg-info/

# Docker
*.pid
*.log
.env
docker-compose.override.yml

# VSCode / JetBrains
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Temporary files
tmp/
cache/
__temp__/
